<div class="main">
  <div class="container po h-100 w-100">
    <div class="row h-100 mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex align-items-center justify-content-center h-100 position-relative">
        <div class="about position-relative mt-5 p-5 w-100 ">
          <h2 class="text-center mb-3 ">A Brief About Us</h2>
          <p class="">
            Welcome chefs, a community-driven recipe-sharing platform created
            for food enthusiasts of all levels! Whether you're a professional
            chef, a passionate home cook, or someone just starting your culinary
            journey, our platform offers a space to discover, share, and
            celebrate the joy of cooking.
          </p>
        </div>
        <img class="img-fluid borderimg  position-absolute" src="assets/images/border.png" alt="">
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="assets/images/chef.png" alt="" />
      </div>
    </div>
  </div>
</div>
