<div class="container">
  <div *ngIf="chef">
    <div class="ok d-flex flex-column-reverse">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ms-5">
          <img
            [src]="chef.photoUrl"
            alt="{{ chef.name }}"
            class="rounded-circle img-fluid"
            height="280"
            width="250"
          />
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <h1 style="color: orange">{{ chef.name }}</h1>
        <div class="mt-5 chef-desc">
          <p>{{ chef.description }}</p>
          <p class="" style="background-color: orange;"><strong>Cuisine:</strong> {{ chef.cuisine }}</p>
          <p><strong>Experience:</strong> {{ chef.experience }}</p>
        </div>
      </div>
    </div>
    <div class="ok ">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
