.container{
    min-height: 50vh;
}
.ok span{
  display: block;
}
.ok{
  span:nth-child(1){
    width: 30px;
    height: 20px;
    background-color: rgba(255, 166, 0, 0.49);
    animation: increase1 2s 1;

  }
  span:nth-child(2){
    width: 50px;
    height: 10px;
    background-color: rgba(255, 166, 0, 0.734);
    animation: increase1 2s 1;

  }
  span:nth-child(3){
    width: 70px;
    height: 20px;
    background-color: orange;
    animation: increase1 2s 1;

  }
}
@keyframes increase1 {
0%{
width: 0;
}
100%{
width: 30;
}
}
@keyframes increase2 {
  0%{
  width: 0;
  }
  100%{
  width: 10;
  }
  }

  @keyframes increase3 {
    0%{
    width: 0;
    }
    100%{
    width: 20;
    }
    }
