<div class="container">
<h1 style="color: orange;">{{ chef.name }}</h1>

<div *ngIf="chef" class="d-flex justify-content-around align-items-center" width="400">
    
    <div class="ms-5">
    <img [src]="chef.photoUrl" alt="{{ chef.name }}" class="rounded-circle" height="180" width="180">

    </div>
    <div class="mt-5 chef-desc">
        <p> {{ chef.description }}</p>
    <p><strong>Cuisine:</strong> {{ chef.cuisine }}</p>
    <p><strong>Experience:</strong> {{ chef.experience }}</p>
</div>
  </div>
  
</div>
  