.main{
  width: 100%;
  height: 100vh;
}
.about-text{
  margin-top: 7%;
  background-image: linear-gradient(to bottom right, rgb(238, 82, 86), rgb(238, 157, 92));

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.about-text h1{
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(238, 82, 86);
}
.about-text p{
  color: rgb(232, 238, 243);
}
button{
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(237, 65, 71);
  border: none;
  transition: 0.3s;
}
button:hover{
  outline: 2px solid black;
  background-color: rgb(251, 247, 235);
  color: rgb(237, 65, 71);
}
.about-img img{
  width: 100%;
  height: 100%;
}
.about-img{
  overflow: hidden;
}




.about-circle{
  width: 15%;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  margin-left: 50%;
  align-self: flex-start;
  margin-top: 100px;
  background-image: linear-gradient(to bottom right, rgb(238, 82, 86), rgb(238, 157, 92));
  animation: move 1s infinite;
}
@keyframes move {
0%{
  background-image: linear-gradient(to bottom right, rgb(238, 82, 86), rgb(238, 157, 92));
}
100%{
  background-image: linear-gradient(to bottom right,  rgb(238, 157, 92), rgb(238, 82, 86));
}
}
