<div class="main d-flex justify-content-center align-items-center">
  <div class="about-text w-25 h-50 position: absolute z-2">
    <h1>About Us</h1>
    <br />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quibusdam
      dolore provident quo est nobis consectetur eveniet accusantium dolores
      ducimus tempore, repellendus itaque ea aliquid ratione excepturi possimus
      ad. Delectus!
    </p>
    <button class="fw-bold">Go To Home</button>
  </div>
  <div class="about-img w-25 h-50 position: absolute; z-1">
    <img src="assets/images/back (1).jpg" alt="" />
  </div>
  <div class="about-circle z-0"></div>
</div>
