<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-11">
    <div
      class="registration d-flex align-items-center justify-content-center"
      id="regis"
    >
      <form #registrationForm="ngForm" (ngSubmit)="setData(registrationForm)" >
        <h2 class="mb-5">
          Registrati<img src="assets/images/orange.png" alt="" />n Form
        </h2>

        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label mb-2"
            >First Name</label
          >
          <input
            type="text"
            class="form-control mb-4"
            id="exampleInputUsername"
            name="firstname"
            placeholder="First Name"
            ngModel
            #fname="ngModel"
            required
            [class.is-invalid]="fname.invalid&&fname.touched&&fname.errors"

          />
          <small class="text-danger" *ngIf="(fname.invalid&&fname.touched)">this field is required</small>
        </div>
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label mb-2"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control mb-4"
            id="exampleInputUsername"
            name="lastname"
            placeholder="Last Name"
            ngModel
            #lname="ngModel"
            required
            [class.is-invalid]="lname.invalid&&lname.touched&&lname.errors"

          />
        </div>

        <small class="text-danger" *ngIf="(lname.invalid&&lname.touched)">this field is required</small>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="Enter Email"
            required
            ngModel
            #email="ngModel"
            email
            [class.is-invalid]="email.invalid&&email.touched&&email.errors"

          />
          <ng-container *ngIf="email.invalid&&email.touched&&email.errors">
            <small class="text-danger" *ngIf="email.errors['required']">please enter email</small>
            <small  class="text-danger" *ngIf="email.errors['email']">email is not correct</small>
          </ng-container>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label mb-2"
            >Password</label
          >
          <input
            type="password"
            class="form-control mb-4"
            id="exampleInputPassword1"
            name="password"
            placeholder="Password"
            ngModel
            #password="ngModel"
            required
            minlength="5"
            [class.is-invalid]="password.invalid&&password.touched&&password.errors"

          />
        </div>
        <small  class="text-danger" *ngIf="password.invalid&&password.touched">this field is required</small>

        <button type="submit" class="btn mt-3" id="commit" [routerLink]="ifPassed" >
          Commit
          <img
            src="assets/images/carrot-cake.png"
            width="20px"
            height="20px"
            alt=""
            class="ms-2"
          />
        </button>
      </form>
    </div>
  </div>
  <div class="col-lg-7 col-md-6 col-sm-1 right">
    <div class="content-img">
      <img src="assets/images/orange.webp" alt="" />
    </div>
  </div>
</div>
