<div class="main w-100">
  <div class="row h-100 w-100">

    <div class="col-lg-12 col-md-12 col-sm-12 h-100 d-flex align-items-center justify-content-center flex-column ">

      <form

        class=" "
        #forgetPasswordForm="ngForm"
        (ngSubmit)="forgetPassword(forgetPasswordForm)"
      >
      <h3 class="text-center d-flex align-items-center justify-content-center mb-5">
        Forget Passw<img src="assets/images/orange.png" width="30px" height="30px" alt="" />rd
      </h3>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Email"
            required
            ngModel
            email
            #email="ngModel"
            name="email"
            [class.is-invalid]="email.invalid && email.touched && email.errors"
          />
          <ng-container *ngIf="email.invalid && email.touched && email.errors">
            <small class="text-danger" *ngIf="email.errors['required']"
              >this field is requird</small
            >
            <small class="text-danger" *ngIf="email.errors['email']"
              >E-mail is not correct</small
            >
          </ng-container>
        </div>

        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            required
            ngModel
            #password="ngModel"
            name="password"
            minlength="5"
            [class.is-invalid]="
              password.invalid && password.touched && password.errors
            "
          />
          <ng-container
            *ngIf="password.invalid && password.touched && password.errors "
          >
            <small class="text-danger" *ngIf="password.errors['minlength']"
              >must be more than 5 letters</small
            >
            <small class="text-danger " *ngIf="password.errors['required']"
              >this field is requird</small
            >
          </ng-container>
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword2" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword2"
            name="cPassword"
            placeholder="Confirm Password"
            required
            ngModel
            #ConfirmPassword="ngModel"
            [class.is-invalid]="
              password.invalid && password.touched && password.errors
            "
            (input)="typydOn()"
          />
          <ng-container
            *ngIf="
              ConfirmPassword.invalid &&
              ConfirmPassword.touched &&
              ConfirmPassword.errors
            "
          >
            <small
              class="text-danger"
              *ngIf="ConfirmPassword.errors['minlength']"
              >must be more than 5 letters</small
            >
            <small
              class="text-danger"
              *ngIf="ConfirmPassword.errors['required']"
              >this field is requird</small
            >
          </ng-container>
        </div>

        <ng-container
          *ngIf="
            isEqual == false &&
            password.touched &&
            password.dirty &&
            ConfirmPassword.touched &&
            ConfirmPassword.dirty
          "
        >
          <small class="text-danger">dont match</small>
        </ng-container>

        <button type="submit" class="btn mt-3 w-100" [routerLink]="ifPassed">Submit</button>
      </form>
    </div>

  </div>
</div>
