.main-nav  {
    border-bottom: 1px solid gray;
    padding: 15px;
}
.social-icons i ,.user-icons i,i{
margin-left: 27px;
font-size: 18px;
color: gray;
}
i:active{
  background-color: orange;
  color: white;
}
.search{
    border-right: 1px solid black;
    padding: 8px;
}


.login{
    text-decoration: none;
    color: black;
    margin-right: 15px;

    font-size: 16px;
}
.login a {
  color: orange;
}
.nav-btn{
    background-color: #FF535B;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
}
.nav-item a{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
}
.nav-item a:hover{
    color: orange;
}
.login a:hover{
  color: white;
}
.fa-shopping-bag{
    position: relative;
}
.badge {
    font-size: 18px;
    padding: 4px 6px;
    top: -10px;
    right: -10px;
    color: black;

  }
  .logo-txt{
    color:orange;
  }
  .search-box{
    width: 250px;
    padding: 7px;
  }
  .light{
    color: orange;
    margin-right: 10px;
    background-color: rgb(244, 237, 237);
  }
  .secondary{
    background-color: orange;
    color: white;
  }
  nav{
    position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: orange;
}

  .search{
    border: none;
  }
  .search input{
    position: relative;
  }
  .search ul{
    position: absolute;
    width: 250px;
  }
  .search li{
    cursor: pointer;
  }
  .search li:active{
    background-color: orange;
    color: white;
    border: none;
  }

  h3{
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 20px;
    background-color: orange;
    outline: 1px solid rgb(33, 32, 31);

  }
.profile{
  border: none;
  background-color: transparent;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
