 
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary second-main ">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <img src="./assets/images/hat-chef-logo.jpg" alt="" width="90" height="90">
            <h2 class="logo-txt me-4">Chefify</h2>
            <input class="form-control me-2 search-box" type="search" placeholder="What Would You like to cook?" aria-label="Search">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active "style="color:orange" aria-current="page" href="#">What to cook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ingredients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Occasions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About Us</a>
              </li>
            </ul>
            <form class="d-flex align-items-center" role="search">
              <button type="button" class="btn light">Login</button>
              <button type="button" class="btn secondary">Subscribe</button>

            </form>
          </div>
        </div>
      </nav>
  </div>


