 .main-nav  {
    background-color:white !important;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.social-icons i ,.user-icons i{
margin-left: 27px;
font-size: 18px;
color: gray;
}
.user-icons i{
    color: black;
    font-size: 26px;
}
.search{
    border-right: 1px solid black;
    padding: 8px;
}

.second-main{
    background-color:white !important;
}
.login-btn{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-weight: 600;

    font-size: 16px;
}
.nav-btn{
    background-color: #FF535B;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
}
.nav-item a{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}
.nav-item a:hover{
    color: orange;
}
.fa-shopping-bag{
    position: relative;
}
.badge {
    font-size: 18px;
    padding: 4px 6px;
    top: -10px;
    right: -10px;
    color: black;

  }
  .logo-txt{
    color:orange;
  }
  .search-box{
    width: 250px;
    padding: 7px;
  }
  .light{
    color: orange;
    margin-right: 10px;
    background-color: rgb(244, 237, 237);
  }
  .secondary{
    background-color: orange;
    color: white;
  }
  nav{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
  }
