<nav class="navbar navbar-expand-lg bg-body-tertiary second-main">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex align-items-center justify-content-center gap-2">
      <img
        src="../../assets/images/chef-hat_17637543.png"
        alt=""
        width="60px"
        height="60px"
      />
      <h2 class="logo-txt me-4 mt-2">Chefify</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="search">
        <input
          class="form-control me-2 search-box"
          type="search"
          placeholder="What Would You like to cook?"
          aria-label="Search"
          [(ngModel)]="filterName"
        />
        <ng-container *ngIf="filterName.length > 0">
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let c of recipes | search : filterName"
            >
              {{ c.title }}
            </li>
          </ul>
        </ng-container>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/what to cook"
            >What to cook</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/categories"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/saves"
            >Saves</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/about"
            >About Us</a
          >
        </li>
      </ul>
      <form class="d-flex align-items-center" role="search">
        <button type="button" class="btn light" routerLink="/auth">
          Login
        </button>
        <button type="button" class="btn secondary">Subscribe</button>
      </form>
    </div>
  </div>
</nav>
