<div class="container topchef">
  <div class="text-center mb-6">
    <h1 class="home-title ">Our Top Chefs</h1>
  </div>
  <div class="row  ">
    <ng-container *ngFor="let item of chef">
      <div class="col-sm-11 col-md-6 col-lg-3 mb-4">
        <div
          class="card d-flex justify-content-between mb-9 shadow-sm hover-zoom"
        >
          <div class="col-lg-3 col-md-6 w-100 mb-3 mt-4">
            <div class="card position-relative  w-100 h-100 ">
              <div class="chef-container mb-3">
                <div class=" chef-image mb-2">
                  <img
                    [src]="item.photoUrl"
                    class="card-img-top w-100 rounded-circle img-fluid"
                    height="250"
                    alt="Chef"
                  />
                </div>
              </div>
              <div class="w-100 ms-5 d-flex flex-column align-items-center justify-content-center">
                <div class="w-100">
                  <h5 class="card-title mt-2">{{ item.name }}</h5>
                </div>
                <div class="w-100 ">
                  <p style="color: orange">{{ item.cuisine }}</p>
                  <button
                    type="button"
                    class="btn btn-warning w-50"
                    [routerLink]="['/chef', item.id]"
                  >
                    Show Profile
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
