section{
  min-height: calc(100vh - 450px);
}
.cat-logo{
  height: 280px;
  background-image: url(../../../assets/images/categories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background-color: #952d4fa7;
  width: 250px;
  height: 100px;
  color: orange;
}
.card{
  width: 300px;
  cursor: pointer;
  border: 1px solid rgba(149, 45, 79, 0.655);
  overflow: hidden;
  transition: all 3s 1s ease-in;
  img{
    position: relative;
  }
  h4{
    position: absolute;
    bottom: 0;
    color: orange;
    background-color: #952d4fa7;
  }
}
.card:hover img{
  transform: scale(1.3);
}
.card:hover h4{
  background-color: #952d50d3;
}

a{
  text-decoration: none;
}
