.main{
  min-height: 60vh;
}
.contain{
  border: 1px solid orange;
  border-radius: 10px;
}
.card{
  height: 450px;
  border: solid 1px #952d5044;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  // margin-block: 20px;
  transition: .2s ease;
  // position: relative;
  padding-bottom: 15px;
}
.card:hover{
  box-shadow: 8px 8px 15px rgba(149, 45, 80, 0.267);
}
i{
color: orange;
  border: 1px solid orange;
}
i:hover{
  color: orangered;
  border: 1px solid orangered;

}
span{
padding: 10px 0;
}
.image{
  height: 270px;
  overflow: hidden;
}
h1{
  border-radius: 50%;
  font-size: 50px;
  padding: 20px 30px;
  background-color: orange;
  outline: 1px solid rgb(33, 32, 31);

}
