<div class="container cc">
<div id="carouselExampleControlsNoTouching" class=" slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 flex-column  ">
          <h1 class="first">Are You Ready?</h1>
        <h1 class="second">To Share Your Lovely Recipes</h1>
        </div>

        <img src="./assets/images/pasta2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <app-recipe-cards></app-recipe-cards>
    <app-add-post></app-add-post>
    <app-carousel></app-carousel>
    <app-top-chef></app-top-chef>
  </div>
</div>
