/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
form .btn{
  padding: 15px;
  background-color: orange;
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}
form .btn:hover{
  background-color: rgb(239, 156, 1);
  outline: 3px solid black;
  color: white;
}
.form-control:focus{
  border-color: rgb(218, 163, 182);

  box-shadow: 1px 1px 2px rgb(218, 163, 182);
}
form input{
  padding: 6px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px rgb(218, 163, 182);
}
form label{
  font-size: 20px;
  font-weight: bold;
  color: rgb(146, 36, 73);
}
@media (max-width:575px) {
  .left, .right{
    display: none;
  }
}
